@font-face {
  font-family: "linea-basic-10";
  src: url("../fonts/linea-basic-10.eot");
  src: url("../fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"), url("../fonts/linea-basic-10.woff") format("woff"), url("../fonts/linea-basic-10.ttf") format("truetype"), url("../fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-basic-accelerator:before {
  content: "a"; }

.icon-basic-alarm:before {
  content: "b"; }

.icon-basic-anchor:before {
  content: "c"; }

.icon-basic-anticlockwise:before {
  content: "d"; }

.icon-basic-archive:before {
  content: "e"; }

.icon-basic-archive-full:before {
  content: "f"; }

.icon-basic-ban:before {
  content: "g"; }

.icon-basic-battery-charge:before {
  content: "h"; }

.icon-basic-battery-empty:before {
  content: "i"; }

.icon-basic-battery-full:before {
  content: "j"; }

.icon-basic-battery-half:before {
  content: "k"; }

.icon-basic-bolt:before {
  content: "l"; }

.icon-basic-book:before {
  content: "m"; }

.icon-basic-book-pen:before {
  content: "n"; }

.icon-basic-book-pencil:before {
  content: "o"; }

.icon-basic-bookmark:before {
  content: "p"; }

.icon-basic-calculator:before {
  content: "q"; }

.icon-basic-calendar:before {
  content: "r"; }

.icon-basic-cards-diamonds:before {
  content: "s"; }

.icon-basic-cards-hearts:before {
  content: "t"; }

.icon-basic-case:before {
  content: "u"; }

.icon-basic-chronometer:before {
  content: "v"; }

.icon-basic-clessidre:before {
  content: "w"; }

.icon-basic-clock:before {
  content: "x"; }

.icon-basic-clockwise:before {
  content: "y"; }

.icon-basic-cloud:before {
  content: "z"; }

.icon-basic-clubs:before {
  content: "A"; }

.icon-basic-compass:before {
  content: "B"; }

.icon-basic-cup:before {
  content: "C"; }

.icon-basic-diamonds:before {
  content: "D"; }

.icon-basic-display:before {
  content: "E"; }

.icon-basic-download:before {
  content: "F"; }

.icon-basic-exclamation:before {
  content: "G"; }

.icon-basic-eye:before {
  content: "H"; }

.icon-basic-eye-closed:before {
  content: "I"; }

.icon-basic-female:before {
  content: "J"; }

.icon-basic-flag1:before {
  content: "K"; }

.icon-basic-flag2:before {
  content: "L"; }

.icon-basic-floppydisk:before {
  content: "M"; }

.icon-basic-folder:before {
  content: "N"; }

.icon-basic-folder-multiple:before {
  content: "O"; }

.icon-basic-gear:before {
  content: "P"; }

.icon-basic-geolocalize-01:before {
  content: "Q"; }

.icon-basic-geolocalize-05:before {
  content: "R"; }

.icon-basic-globe:before {
  content: "S"; }

.icon-basic-gunsight:before {
  content: "T"; }

.icon-basic-hammer:before {
  content: "U"; }

.icon-basic-headset:before {
  content: "V"; }

.icon-basic-heart:before {
  content: "W"; }

.icon-basic-heart-broken:before {
  content: "X"; }

.icon-basic-helm:before {
  content: "Y"; }

.icon-basic-home:before {
  content: "Z"; }

.icon-basic-info:before {
  content: "0"; }

.icon-basic-ipod:before {
  content: "1"; }

.icon-basic-joypad:before {
  content: "2"; }

.icon-basic-key:before {
  content: "3"; }

.icon-basic-keyboard:before {
  content: "4"; }

.icon-basic-laptop:before {
  content: "5"; }

.icon-basic-life-buoy:before {
  content: "6"; }

.icon-basic-lightbulb:before {
  content: "7"; }

.icon-basic-link:before {
  content: "8"; }

.icon-basic-lock:before {
  content: "9"; }

.icon-basic-lock-open:before {
  content: "!"; }

.icon-basic-magic-mouse:before {
  content: "\""; }

.icon-basic-magnifier:before {
  content: "#"; }

.icon-basic-magnifier-minus:before {
  content: "$"; }

.icon-basic-magnifier-plus:before {
  content: "%"; }

.icon-basic-mail:before {
  content: "&"; }

.icon-basic-mail-multiple:before {
  content: "'"; }

.icon-basic-mail-open:before {
  content: "("; }

.icon-basic-mail-open-text:before {
  content: ")"; }

.icon-basic-male:before {
  content: "*"; }

.icon-basic-map:before {
  content: "+"; }

.icon-basic-message:before {
  content: ","; }

.icon-basic-message-multiple:before {
  content: "-"; }

.icon-basic-message-txt:before {
  content: "."; }

.icon-basic-mixer2:before {
  content: "/"; }

.icon-basic-mouse:before {
  content: ":"; }

.icon-basic-notebook:before {
  content: ";"; }

.icon-basic-notebook-pen:before {
  content: "<"; }

.icon-basic-notebook-pencil:before {
  content: "="; }

.icon-basic-paperplane:before {
  content: ">"; }

.icon-basic-pencil-ruler:before {
  content: "?"; }

.icon-basic-pencil-ruler-pen:before {
  content: "@"; }

.icon-basic-photo:before {
  content: "["; }

.icon-basic-picture:before {
  content: "]"; }

.icon-basic-picture-multiple:before {
  content: "^"; }

.icon-basic-pin1:before {
  content: "_"; }

.icon-basic-pin2:before {
  content: "`"; }

.icon-basic-postcard:before {
  content: "{"; }

.icon-basic-postcard-multiple:before {
  content: "|"; }

.icon-basic-printer:before {
  content: "}"; }

.icon-basic-question:before {
  content: "~"; }

.icon-basic-rss:before {
  content: "\\"; }

.icon-basic-server:before {
  content: "\e000"; }

.icon-basic-server2:before {
  content: "\e001"; }

.icon-basic-server-cloud:before {
  content: "\e002"; }

.icon-basic-server-download:before {
  content: "\e003"; }

.icon-basic-server-upload:before {
  content: "\e004"; }

.icon-basic-settings:before {
  content: "\e005"; }

.icon-basic-share:before {
  content: "\e006"; }

.icon-basic-sheet:before {
  content: "\e007"; }

.icon-basic-sheet-multiple:before {
  content: "\e008"; }

.icon-basic-sheet-pen:before {
  content: "\e009"; }

.icon-basic-sheet-pencil:before {
  content: "\e00a"; }

.icon-basic-sheet-txt:before {
  content: "\e00b"; }

.icon-basic-signs:before {
  content: "\e00c"; }

.icon-basic-smartphone:before {
  content: "\e00d"; }

.icon-basic-spades:before {
  content: "\e00e"; }

.icon-basic-spread:before {
  content: "\e00f"; }

.icon-basic-spread-bookmark:before {
  content: "\e010"; }

.icon-basic-spread-text:before {
  content: "\e011"; }

.icon-basic-spread-text-bookmark:before {
  content: "\e012"; }

.icon-basic-star:before {
  content: "\e013"; }

.icon-basic-tablet:before {
  content: "\e014"; }

.icon-basic-target:before {
  content: "\e015"; }

.icon-basic-todo:before {
  content: "\e016"; }

.icon-basic-todo-pen:before {
  content: "\e017"; }

.icon-basic-todo-pencil:before {
  content: "\e018"; }

.icon-basic-todo-txt:before {
  content: "\e019"; }

.icon-basic-todolist-pen:before {
  content: "\e01a"; }

.icon-basic-todolist-pencil:before {
  content: "\e01b"; }

.icon-basic-trashcan:before {
  content: "\e01c"; }

.icon-basic-trashcan-full:before {
  content: "\e01d"; }

.icon-basic-trashcan-refresh:before {
  content: "\e01e"; }

.icon-basic-trashcan-remove:before {
  content: "\e01f"; }

.icon-basic-upload:before {
  content: "\e020"; }

.icon-basic-usb:before {
  content: "\e021"; }

.icon-basic-video:before {
  content: "\e022"; }

.icon-basic-watch:before {
  content: "\e023"; }

.icon-basic-webpage:before {
  content: "\e024"; }

.icon-basic-webpage-img-txt:before {
  content: "\e025"; }

.icon-basic-webpage-multiple:before {
  content: "\e026"; }

.icon-basic-webpage-txt:before {
  content: "\e027"; }

.icon-basic-world:before {
  content: "\e028"; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.asset {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 2px solid #b8b8b8; }
  .asset img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%; }

.button {
  -webkit-appearance: none;
  border: none;
  line-height: 14px;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 3px;
  background: #302266;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  outline: none; }
  .button:hover {
    background: #4a3890; }

.console {
  background: #292929;
  color: #ededed;
  width: 100%;
  min-height: 100px;
  border-radius: 10px;
  margin: 20px 0;
  padding: 16px; }

.content {
  position: fixed;
  top: 80px;
  left: 320px;
  right: 0;
  bottom: 0;
  overflow: auto; }

.content__inner {
  padding: 40px 24px; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 16px;
  font-size: 16px; }

h2 {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 20px; }

p {
  margin-bottom: 8px; }

a {
  text-decoration: none; }

i {
  font-style: italic; }

.hidden {
  display: none; }

input[type="text"], textarea, select {
  display: block;
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  font-size: 14px;
  padding: 16px;
  outline: none;
  background: #fff;
  max-width: 600px;
  font-family: Arial, sans-serif; }
  input[type="text"]:disabled, textarea:disabled, select:disabled {
    opacity: .5; }

textarea {
  height: 200px; }

.select-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 600px; }
  .select-wrapper:after {
    content: "v";
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
    pointer-events: none; }

select {
  padding: 0 16px; }

.field {
  margin-bottom: 24px; }

.field__title {
  margin-bottom: 8px;
  font-size: 14px;
  color: #5b5b5b; }

.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8); }

.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: #fff; }

.modal__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 0;
  padding: 30px 20px;
  font-size: 24px;
  border-bottom: 1px solid #dddddd; }

.modal__body {
  position: absolute;
  top: 60px;
  padding: 20px; }

.sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  width: 320px;
  background: linear-gradient(to bottom right, #363d53, #221945);
  padding: 100px 0;
  overflow: auto;
  color: #fff; }
  .sidebar h2 {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5); }
  .sidebar a {
    display: block;
    color: #fff; }
    .sidebar a:hover {
      background: rgba(255, 255, 255, 0.1); }
    .sidebar a .icon {
      vertical-align: middle;
      margin-right: 10px; }

.sidebar__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  font-size: 30px; }

.sidebar__section {
  margin-bottom: 24px; }
  .sidebar__section > * {
    padding: 10px 24px; }

.table {
  width: 100%; }

.table__row {
  display: block;
  padding: 10px 16px;
  cursor: pointer; }
  .table__row:nth-child(even) {
    background: #f2f2f2; }
  .table__row:hover {
    background: #2e265c;
    color: #fff; }

.topbar {
  position: fixed;
  top: 0;
  left: 320px;
  right: 0;
  height: 80px;
  border-bottom: 1px solid #c6c6c6; }
  .topbar h1 {
    padding: 40px 24px;
    line-height: 0;
    font-size: 30px; }

.topbar__right {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translate(0, -50%); }
  .topbar__right .icon {
    margin-right: 8px;
    vertical-align: middle; }

.type-field {
  position: relative;
  margin-bottom: 8px; }
  .type-field input {
    display: inline-block;
    width: 30%; }
  .type-field .select-wrapper {
    width: 40%; }

.type-field__tools {
  position: absolute;
  top: 0;
  right: 0; }
  .type-field__tools .button {
    padding: 12px; }
