<div class="modal modal-uploader">
  <div class="modal__padded">
    <div class="modal__inner">
      <div class="modal__title">Upload</div>

      <div class="modal__body">
        <input class="js-uploader-file" type="file" name="file">
        <button class="button js-upload-asset-button">Upload</button>
      </div>
    </div>
  </div>
</div>
