{% extends "layouts/default.njk" %}

{% block header %}
  <h1>Assets</h1>

  <div class="topbar__right">
    <button class="button js-upload-asset"><span class="icon icon-basic-upload"></span>Upload</button>
  </div>
{% endblock %}

{% block content %}
  <div class="content__inner">
    <div class="asset-list">
      {% for asset in assets %}
        <div class="asset">
          <img src="/assets/uploads/{{ asset }}">
        </div>
      {% else %}
        <i>No assets uploaded.</i>
      {% endfor %}
    </div>
  </div>
{% endblock %}
