{% extends "layouts/default.njk" %}
{% import "includes/fields.njk" as fields %}

{% block header %}
  <h1>Content types > {{ contentType._name or 'unnamed' }}</h1>

  <div class="topbar__right">
    {% if contentType %}
      <button class="button js-delete-content-type"><span class="icon icon-basic-trashcan"></span>Delete</button>
    {% endif %}
    <button class="button js-save-content-type">Save</button>
  </div>
{% endblock %}

{% block content %}
  <div class="content__inner">
    <h2>Base fields:</h2>
    <div class="fields">
      <div class="field hidden" cms-name="_contentType" cms-type="text">
        <input type="hidden" name="_contentType" value="{{ contentType._slug }}">
      </div>

      {{ fields.field({
        name: "_name",
        type: "text"
      }, contentType) }}

      <div class="field field--slug" cms-name="_slug" cms-type="text">
        <div class="field__title">_slug</div>
        <input disabled name="_slug" class="slugger" type="text" value="{{ contentType._slug }}">
      </div>

      <div class="field" cms-name="_defaultTemplate" cms-type="select">
        <div class="field__title">_defaultTemplate (project/templats/views)</div>
        <div class="select-wrapper">
          <select name="_defaultTemplate">
            {% for template in templates %}
              <option value="{{ template }}" {{ "selected" if selectedTemplate==template }}>{{ template }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <h2>Content fields:</h2>
      {% for field in contentType.fields %}
        {% include 'includes/type-field.njk' %}
      {% endfor %}
    </div>
    <button class="button js-add-new-type-field">Add new type field</button>

    <script type="text/template" name="type-field">
      {% include 'includes/type-field.njk' %}
    </script>
  </div>
{% endblock %}
