{% extends "layouts/default.njk" %}
{% import "includes/fields.njk" as fields %}

{% block header %}
  <h1>Content types > {{ contentType._name or 'unnamed' }}</h1>

  <div class="topbar__right">
    {% if contentType %}
      <button class="button js-delete-content-type"><span class="icon icon-basic-trashcan"></span>Delete</button>
    {% endif %}
    <button class="button js-save-content-type">Save</button>
  </div>
{% endblock %}

{% block content %}
  <div class="content__inner">
    <div class="fields">
      <div class="field hidden">
        <input type="hidden" name="_contentType" value="{{ contentType._slug }}">
      </div>

      {{ fields.field({
        name: "_name",
        type: "text"
      }, contentType) }}

      <div class="field field--slug">
        <div class="field__title">_slug</div>
        <input disabled name="_slug" class="slugger" type="text" value="{{ contentType._slug }}">
      </div>

      <div class="field">
        <div class="field__title">_defaultTemplate (project/templats/views)</div>
        <div class="select-wrapper">
          <select name="_defaultTemplate">
            {% for template in templates %}
              <option value="{{ template }}" {{ "selected" if selectedTemplate==template }}>{{ template }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      {% for field in contentType.fields %}
        <div class="type-field">
          <input type="text" name="name" value="{{ field.name }}" placeholder="Name">

          <div class="select-wrapper">
            <select name="type">
              <option value="text" {{ "selected" if field.type=='text' }}>Text</option>
              <option value="textarea" {{ "selected" if field.type=='textarea' }}>Textarea</option>
              <option value="markdown" {{ "selected" if field.type=='markdown' }}>Markdown</option>
            </select>
          </div>

          <div class="type-field__tools">
            <button class="button js-remove-type-field icon-basic-trashcan" ></button>
          </div>
        </div>
      {% endfor %}
    </div>
    <button class="button js-add-new-type-field">Add new type field</button>

    <script type="text/template" name="type-field">
      <div class="type-field">
        <input type="text" name="name" value="{{ field.name }}" placeholder="Name">

        <div class="select-wrapper">
          <select name="type">
            <option value="text" {{ "selected" if field.type=='text' }}>Text</option>
            <option value="textarea" {{ "selected" if field.type=='textarea' }}>Textarea</option>
            <option value="markdown" {{ "selected" if field.type=='markdown' }}>Markdown</option>
          </select>
        </div>

        <div class="type-field__tools">
          <button class="button js-remove-type-field icon-basic-trashcan" ></button>
        </div>
      </div>
    </script>
  </div>
{% endblock %}
