{% extends "layouts/default.njk" %}

{% block header %}
  <h1>Deploy</h1>

  <div class="topbar__right">
    <a href="/admin/deployment/new" class="button"><span class="icon icon-basic-sheet"></span>Create new</a>
  </div>
{% endblock %}

{% block content %}
  <div class="content__inner">
    <div class="table table--large">
      {% for doc in deployments %}
        <div class="table__row">
          <a href="/admin/deployment/{{ doc._id }}">{{ doc._name }}</a>

          <span class="small">{{ doc.domain }}</span>

          <div class="table__right">
            <button class="button js-deploy" deployment-id="{{ doc._id }}">DEPLOY</button>
          </div>
        </div>
      {% else %}
      <p>
        <i>No deployments defined...</i> <a href="/admin/deployment/new">Create one</a>
      </p>
      {% endfor %}

      <pre class="console">Console output:
---------------------------------</pre>
    </div>
  </div>
{% endblock %}
