{% extends "layouts/default.njk" %}

{% block header %}
  <h1>Dashboard</h1>
{% endblock %}

{% block content %}
  <div class="content__inner">
    <p>Welcome to DuckyCMS.</p>
    <p>
      Use the menu on the left to set up your post types and content.
    </p>
  </div>
{% endblock %}
