input[type="text"], textarea, select {
  display: block;
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  font-size: 14px;
  padding: 16px;
  outline: none;
  background: #fff;

  max-width: 600px;
  font-family: Arial, sans-serif;

  &:disabled {
    opacity: .5;
  }
}

textarea {
  height: 200px;
}

.select-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 600px;

  &:after {
    content: "v";
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
    pointer-events: none;
  }
}
select {
  padding: 0 16px;
}

.field {
  margin-bottom: 24px;
}
  .field__title {
    margin-bottom: 8px;
    font-size: 14px;
    color: #5b5b5b;
  }
